# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://admin:supersecretpassword@localhost:5433/smart_gate_db?schema=public"

JWT_SECRET="supersecretjwtsecretkey"
# .env
NODE_ENV=development

PORT=3001

# API Configuration (Hardware Access) (not actual working value)
API_URL=https://196.168.0.1
API_URL2=https://196.168.0.2
API_USERNAME=username
API_PASSWORD=supersecretpassword

# 32-character MD5 hash used for session(response) encryption
IV_HEX=e99a18c428cb38d5f260853678922e03

# Dashboard Initial Account (For seed-account.ts)
SEED_ADMIN_NAME="Admin Pusat"
SEED_ADMIN_USERNAME="admin_pusat"
SEED_ADMIN_PASSWORD="NewSecurePassword@2026"
